<!DOCTYPE html>
<html>
  <head>
    <title>MeetingBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", rel: "stylesheet" %>

    <%= javascript_importmap_tags %>
  <div class="flex flex-col min-h-screen">
  </head>
  <%= render "shared/header" %>
  <body>
   
    <main class="flex-1 py-8">
        <div class="container max-w-7xl mx-auto px-4 sm:px-6">
      <%= yield %>
      </div>
    </main>
    
  </body>
  <%= render "shared/footer" %>
  </div>
</html>
